.Div1
    {
        
        background-color: blue;
        font-size: 20px;
        
    }

.Div2
    {
        font-size: 2px;
        background-color: red;
    }

.Div3
    {
        font-size: 12px;
        background-color: green;
    }

div:hover
    {
        font-weight: bold;
    }