body
{
    background-color: LightGray;
}

.quote
{
    font-family:'Courier New'; 
    font-style: italic;
}

.picture
{
    float: right;
    margin: 40px 25px 25px 125px; 
    width:250px; 
    height:230px;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00004d; /* dark blue */
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #005580; /* light-ish blue */
}
      
.center
{
    text-align: center;
}
         
big
{
    font-family: "Times New Roman";
    font-size: 40px;
}
         
p.special
{
    font-family: Verdana;
    font-size: 140%; 
    padding: 50px; 
    text-align: center; 
    outline-style: ridge;
    outline: 5px solid #00004d; /* dark blue */
    background-image: url("night_sky.jpg");
    background-size: 100%;
    color: white;
    margin: 0px 300px 25px 25px;
}
         
footer
{
    background-color: #00004d; /* dark blue */
    text-align: center;
    color: white;
    padding: 2px;
}
