.center
{
   text-align:center;
}

.heading
{
   margin: auto;
   width: 75%;
}

.error
{
   color: red;
   display: none;
}

.arial
{
   font-family: Arial;
}

table, th, td 
{ 
   margin: 25px;
   border: 1px solid #ddd; /* white/grey */
   padding: 8px;
   border-collapse: collapse;
}
         
th 
{
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #00004d; /* dark blue */
   color: white;
}
         
tr:nth-child(even) { background-color: #f2f2f2; } /* light grey */


ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00004d; /* dark blue */
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #8B9DC3; /* light-ish blue */
}

.active
{
    background-color: #8B9DC3; /* light-ish blue */
}